<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <!--Main Content-->
    <main class="container contentHeight">
      <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Welcome to <%= title %> page</h1>
                <br><br>
                <p style="font-size: larger; padding-left: 180px;padding-right: 180px;"> As a Software Engineering AI student, I am passionate about building sustainable solutions with my problem-solving and analytical skills. </p><br>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %> 