<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <!--Main Content-->
    <main class="container contentHeight">
      <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
      </div>

      <div class="container">
        <div class="row g-2">
          <div class="col-12">
            <div class="p-3" style="margin-left: 80px;">
              <h2>Services</h2><br>
              <ul>
               <li><i class="fa-solid fa-laptop-code" style="margin-top:10px;"></i>  Object-Oriented Programming</li><br>
                <li><i class="fa-solid fa-tablet-screen-button" style="margin-top:10px;"></i>  Web devalopment</li><br>
                <li><i class="fa-solid fa-diagram-project" style="margin-top:10px;"></i>  Requirements Analysis</li><br>
                <li><i class="fa-solid fa-database" style="margin-top:10px;"></i>  Database</li><br>
              </ul>
            </div>
          </div>

        </div>
      </div>

    </main>

    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>